/* style.css */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#background-container {
    width: 100%;
    height: 100vh;
    background-image: url('bg1.png');
    background-size: cover;
    background-position: center;
    animation: background-switch 2s infinite;
}

@keyframes background-switch {
    0% {
        background-image: url('bg1.png');
    }
    50% {
        background-image: url('bg2.png');
    }
    100% {
        background-image: url('bg1.png');
    }
}

.enter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    z-index: 1;
    cursor: url(''), auto;
}

.enter p {
    font-family :  'MS Gothic', 'ＭＳ ゴシック' , 'MS ゴシック' , Msgothic, 'ヒラギノ明朝 ProN', sans-serif;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
    font-size: 0;
    object-fit: cover;

    color: white;
}

.content img {
    scale: 75%;
    max-width: 750px;
    object-fit: cover;
    text-align: left;
}

.animated-text {
    font-size: 42px;
    font-family :  'MS Gothic', 'ＭＳ ゴシック' , 'MS ゴシック' , Msgothic, 'ヒラギノ明朝 ProN', sans-serif;
    margin-bottom: 10px;
    margin-top: 0px;
}

#animated-text span {
    font-size: 42px;
    font-family :  'MS Gothic', 'ＭＳ ゴシック' , 'MS ゴシック' , Msgothic, 'ヒラギノ明朝 ProN', sans-serif;
    animation: blink 2s infinite;
  }
  
#animated-text span:nth-child(odd) {
    animation-delay: 0.5s;
  }
  
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.image-text {
    display: inline-block; /* Display the text as an inline block */
    text-align: left; /* Align the text to the left */
}

#description {
    font-size: 12px;
    font-family :  'MS Gothic', 'ＭＳ ゴシック' , 'MS ゴシック' , Msgothic, 'ヒラギノ明朝 ProN', sans-serif;
    margin: 0;
}

#quote {
    display: block;
    margin-bottom: -10px;
    margin-top: -30px;
    font-size: 10px;
    font-family :  'MS Gothic', 'ＭＳ ゴシック' , 'MS ゴシック' , Msgothic, 'ヒラギノ明朝 ProN', sans-serif;
}

#text {
    opacity: 0;
    transition: opacity 0.5s;
    display: inline; /* Add this line */
    position: static; /* Add this line to remove absolute positioning */
}

#text.show {
    opacity: 1;
}

.text-container {
    display: inline-block; /* Make the container an inline-block element */
    width: 55px; /* Set a fixed width for the container */
    text-align: left; /* Align the text to the left */
}